<div class="container">
  <header>
    <div class="left">
      <img class="logo" src="../assets/img/images/logo.svg" alt="" />
      <div class="dropdown" data-dropdown>
        <button class="link" data-dropdown-button>
          Features
          <img
            class="icon"
            src="../assets/img/images/icon-arrow-up.svg"
            alt="icon-arrow-up"
          />
        </button>
        <div class="dropdown-menu1">
          <div class="dropdown-links">
            <a href="./" class="link">
              <img src="../assets/img/images/icon-todo.svg" alt="" />
              Todo List</a
            >
            <a href="./" class="link">
              <img src="../assets/img/images/icon-calendar.svg" alt="" />
              Calendar</a
            >
            <a href="./" class="link">
              <img src="../assets/img/images/icon-reminders.svg" alt="" />
              Reminders</a
            >
            <a href="./" class="link">
              <img src="../assets/img/images/icon-planning.svg" alt="" />
              Planning</a
            >
          </div>
        </div>
      </div>

      <div class="dropdown" data-dropdown>
        <button class="link" data-dropdown-button>
          Company
          <img
            class="icon"
            src="../assets/img/images/icon-arrow-up.svg"
            alt="icon-arrow-up"
          />
        </button>
        <div class="dropdown-menu2">
          <div class="dropdown-links">
            <a href="./" class="link">History</a>
            <a href="./" class="link">Our Team</a>
            <a href="./" class="link">Blog</a>
          </div>
        </div>
      </div>
      <a href="./" class="lis">Careers</a>
      <a href="./" class="lis">About</a>
    </div>
    <div class="right">
      <button class="link">Login</button>
      <button class="link btn">Register</button>
    </div>
  </header>
  <div class="hero">
    <div class="hero-content">
      <h1>
        Make <br />
        remote work
      </h1>
      <p>
        Get your team in sync, no matter your location. Streamline processes,
        create team rituals, and watch productivity soar.
      </p>
      <button>Learn more</button>
      <div class="svgs">
        <img src="../assets/img/images/client-databiz.svg" alt="" />
        <img src="../assets/img/images/client-audiophile.svg" alt="" />
        <img src="../assets/img/images/client-meet.svg" alt="" />
        <img src="../assets/img/images/client-maker.svg" alt="" />
      </div>
    </div>
    <div class="hero-image">
      <img src="../assets/img/images/image-hero-desktop.png" alt="" />
    </div>
    <div class="box"></div>
  </div>
</div>
